{% extends "base.html" %}
{% block content %}
<canvas id="myCanvas"></canvas>
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Створити фрактал Ньютона</h3><br>
        <p>Для створення фракталу введіть константу у вигляді комплексного <br>числа у форматі z = a + bi та виберіть кольорову схему. </p>
      </div>
      <form method="POST">
        <div class="modal-body">
          <div class="form-group col-sm-12">
            <label for="power">Степінь</label><br>
            <select class="form-control" name="power" id="power">
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>
          <div class="form-group col-sm-12">
            <label for="color_type">Колірна схема</label><br>
            <select class="form-control" name="color_type" id="color_type">
              <option value="0">Відтінки червоного</option>
              <option selected value="1">Відтінки зеленого</option>
              <option value="2">Відтінки синього</option>
              <option value="3">Відтінки жовтого</option>
            </select>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-6">
              <label for="constant_i">Реальна частина(а)</label><br>
              <input class="form-control" value="1" name="constant_i" type="number" id="constant_i" step="0.01">
            </div>
            <div class="form-group col-sm-6">
              <label for="constant_j">Уявна частина(b)</label><br>
              <input class="form-control" value="1" name="constant_j" type="number" id="constant_j" step="0.01">
            </div>
          </div>
          <div class="form-group col-sm-12">
            <label for="zoom">Маштабування</label><br>
            <select class="form-control" size="1" name="zoom" id="zoom">
              <option value="1">400%</option>
              <option selected value="2">200%</option>
              <option value="4">100%</option>
              <option value="8">50%</option>
            </select>
          </div>
          <a href="#" class="text-primary col-sm-12">Що таке фрактали? А комплексні числа?</a>
        </div>
        <div class="modal-footer">
          <input type="submit" value="Продовжити" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
